/ClientSide/nbproject/private/
/ServerSide/nbproject/private/
/ClientSide/build/
/ServerSide/build/
/JavaFXApplication1/nbproject/private/
/ManagementAPI/nbproject/private/
/ManagementLib/nbproject/private/
/ManagementLib/build/
/ManagementLib/dist/
/ClientSide/dist/
/ServerSide/dist/